body {
    background-color: #2C2F33;
    opacity: 0.1 color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: #7289DA;
}

#art {
    height: 60px;
    width: 60px;
    float: left;
}

#musicbar {
    background: #36393E;
    height: 60px;
    position: fixed;
    top: 40px;
    right: 0px;
    width: 100%;
    clear: both;
}

#settings {
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    clear: both;
    float: left;
}

#settings:active {
    border: 1px inset #36393E;
}

#topBar {
    position: fixed;
    -webkit-app-region: drag;
    background-color: #23272A;
    color: gray;
    width: 100%;
    top: 0px;
    clear: both;
    right: 0px;
    height: 30px;
    margin-bottom: 10px;
    border-color: #23272A;
    border-width: 1px;
}

#topBar p {
    position: absolute;
    top: -10px;
    left: 5px;
}

#buttons {
    position: absolute;
    -webkit-app-region: no-drag;
    top: 0px;
    right: 0px;
    height: 28px;
    width: 120px;
    background-color: #2A2F33;
    border: 1px outset #36393E;
}

.button:active {
    border: 1px inset #36393E;
}

#buttons #minimize {
    -webkit-app-region: no-drag;
    float: left;
    margin: 0;
    padding: 5px;
}

#buttons img {
    padding: 3px;
    height: 10px;
    width: 10px;
}

#buttons #minimize img {
    height: 5px;
}

#buttons #close {
    -webkit-app-region: no-drag;
    float: right;
    margin: 0;
    padding: 4px;
}

a:link {
    filter: grayscale();
}

a:hover {
    filter: none;
}

a {
    -webkit-app-region: no-drag;
}

#main {
    padding: 20px;
    padding-top: 40px;
}

html {
    overflow: none;
}

textarea {
    position: absolute;
    width: 80%;
    border: none;
    padding: 5px;
    top: 300px;
    left: 9%;
    resize: none;
    color: white;
    background-color: #23272A;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px #2A2D2F inset;
    height: 200px;
}

textarea:focus {
    outline: none;
}

.instrument {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin-right: 5px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#bell {
    position: absolute;
    top: 30px;
    right: 561px;
    background: url('../image/bell.png') no-repeat;
}

#harp {
    position: absolute;
    top: 30px;
    right: 641px;
    background: url('../image/harp.png') no-repeat;
}

#flute {
    position: absolute;
    top: 30px;
    right: 161px;
    background: url('../image/flute.png') no-repeat;
}

#bass {
    position: absolute;
    top: 30px;
    right: 401px;
    background: url('../image/bass.png') no-repeat;
}

#horn {
    position: absolute;
    top: 30px;
    right: 241px;
    background: url('../image/horn.png') no-repeat;
}

#lute {
    position: absolute;
    top: 30px;
    right: 321px;
    background: url('../image/lute.png') no-repeat;
}

#redbell {
    position: absolute;
    top: 30px;
    right: 481px;
    background: url('../image/redbell.png') no-repeat;
}

.ui-corner-all {
    border-radius: 0px !important;
}

label {
    height: 15px;
    position: absolute;
    top: 470px;
    left: 50px;
}

.ui-widget {
    font-size: 10px !important;
}

.ui-button {
    border-style: none !important;
    color: white !important;
    background: none !important;
}

.ui-button:focus {
    outline: none !important;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    background-color: rgb(226, 226, 226)!important;
}